
* { box-sizing: border-box; }

/*FONTS*/

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/roboto_condensed/roboto-condensed.bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto_condensed/roboto-condensed.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ff-bold {
	font-family: 'roboto_condensedbold', Impact, Verdana, sans-serif;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.ff-regular {
	font-family: 'open_sansregular', Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

img { max-width: 100%; 
}

.home_image { 
  position: relative; 
  width: 100%;
  height: 100vh; 
  background: url(../photography/home_page.jpg) no-repeat;   /*not center on page*/
  background-size: cover;
  margin-top: auto;
  margin-bottom: auto;
}

.main_brand {
  font-size: 80px; /*was 150px and then suddenly got too large..not sure if its because i changed the class*/
  position: absolute;
  margin-top: 180px; /*not sitting center on image*/
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
}


/*HEADER*/


/*attempting to figure out hovering for menu

nav {
	text-align: left;
	margin-top: 1rem;
	padding-left: 1000px;
  display: inline-block;

}

nav ul li a:hover,
nav ul li a.active {
  color: #767676;
}

.nav-item{
  opacity: 0;
}

.nav-item {
  opacity: 0;
}


.hamburger:hover {
  opacity: 1; /*works but theyre showing up off screen
} 

nav-item:hover {
  opacity: 1;
}*/

.hamburger {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
/*found on https://www.sitepoint.com/pure-css-off-screen-navigation-menu/ */
		z-index: 1;
}

.menu {
  opacity: 0;
  position: absolute;
  margin-top: 3rem; 
  padding-right: 1rem;
  padding-left: 1005px;
  text-align: left;
  color: black;
  z-index: 2;
}

.menu:hover {
  opacity: 1;
}

.nav-item {  
  font-size: 36px;
  font-weight: 600;
  list-style: none;
  line-height: 3rem;
} /*have to figure out how to hide items in hamburger menu*/

.sub_nav-item {
  font-size: 26px;
  font-weight: 600;
  list-style: none;
  line-height: 2rem;
}

.menu li a:link {
  color: black; 
  text-decoration: none;
}

.menu li a:visited {
  color:#AE7FD1;
}

.menu li a:hover {
  color: #767676;
}

.header_logo {
	text-align: left
}

.header_title {
	font-size: 40px;
	text-align: center;
} /*how do i display header title and logo inline/next to each other?*/


/*MAIN*/

.portfolio .row .col {
  float: left;
  /*width: 33.3%;
  width: calc(100%/3);
   width: ? unsure*/
}

figure {
  margin: .5rem 1rem;
  width: 380px;
}

.portfolio figure:hover {
  opacity: .7;
}
/*not working*/

.large_image {
  float: right;
  margin: 0 1.5rem 1rem 1rem;
  width: 600px;
}

.project_title {
  margin-left: 1.5rem;
}

.relevant  {
  text-align:center;
}

.relevant figure:hover {
  opacity: .7;
}


h3 {
  font-size: 25px;
  text-align: left;
}

.text {
  font-size:20px;
  line-height: 1.2;
}

.tools {
  margin-left: 1.5rem;
}

.detail {
  text-align: left;
  margin-right: 400px;
  margin-left: 1.5rem;
}/*inline w image, look at textbook*/

.contact  { 
  text-align: center;
}

.me {
  float: left;
  margin: 0 1rem 1rem 0;
  width: 400px;
  height: 300px;
}/*not flowing circular*/

.about {
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*main .image {
  padding: 2rem;
}*/

/*BUTTONS & EXTRAS*/

.previous_nav {
	text-align: left;
  position: absolute;
  top: 3rem;
  left: 1.3rem;
}

.next_nav {
	text-align: right;
  position: absolute;
  top: 3rem;
  right: 1.3rem;
}

/*would get rid of all underlines 
a {
  text-decoration: none;
}
*/

/*FOOTER*/



footer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1280px;
  text-align: center;
  color: #767676;
  z-index: 1;
  background-color: white;
}