* { box-sizing: border-box; }

/*FONTS*/

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/roboto_condensed/roboto-condensed.bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto_condensed/roboto-condensed.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ff-bold {
	font-family: 'roboto_condensedbold', Impact, Verdana, sans-serif;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ff-regular {
	font-family: 'open_sansregular', Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

img { max-width: 100%; 
}

/*HEADER*/

.brand.col {
    float: left;
    width: 200px;
    margin-left: 1rem;
}

.sub-navbar {
  height: 3rem;
  background-color: rgba(215, 181, 240, 0.45);
}

/*NAV*/

nav ul li {
    display: inline-block;
    font-variant: small-caps;
}/*targeting nav title*/

.navbar ul {
    list-style: none;
    margin: 1.5rem 1rem 0 0;
    text-align: right;
    padding-left: 0;
}

.navbar ul li {
  font-size: 30px;
  font-weight: 600;
}


.sub-navbar ul {
  list-style: none;
  text-align: center;  
  margin: 1rem 215px;
}

.sub-navbar ul li {
  font-size: 24px;
  font-weight: 400;
  margin: 0 1.5rem;
}

.navbar ul li a,
.sub-navbar ul li a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}

.un-active {
  color: #3E3C3F;
}

.current-page {
  color: #AE7FD1;
}/*to show what page youre on*/

.navbar ul li a:hover,
.sub-navbar ul li a:hover {
  color: #767676;
}
/*hover goes after visited so that visited links still hover*/


/*.page-heading {
  font-size: 40px;
  text-align: center;
  margin: 0;
}/*might delete this for an active colored state on menu instead*/

/*ABOUT ME*/

/*main {
  background-color: #F7EBFF;/*could do texture*/

main {
  margin-top: 4rem;
}

.me {
  float: left;
  margin: 0 1rem 0 2rem;
  width: 300px;
  height: 300px;
}

.about {
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
}

.intro {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: .75rem;
}

.about-text {
  line-height: 1.4rem;
}

.about-text p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.resume {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.resume a:link {
  color: #AE7FD1; 
  text-decoration: none;
}

.resume a:hover {
  color: #D7B5F0;
}

/*PORTFOLIO*/

.portfolio .row {
  margin: 0 1rem;
  overflow: auto;
  height: 477px;
}

.portfolio .row .col {
  float: left;
  width: calc(100%/4);
}

.portfolio figure {
  margin: 0 .5rem;
  width: 296px;
  position: relative;
}


.portfolio figcaption {
  color: #3E3C3F;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  font-variant: small-caps;
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(50% - 45px);
  background-color: rgba(194,159,221,0);
  height: 500px;

}
/*Vertically center text over image solution: 
http://stackoverflow.com/questions/23773647/how-can-i-vertically-center-text-over-a-responsive-image*/

.portfolio figcaption:hover {
  background-color: rgba(194,159,221,.4);
}/*HEIGHT ISSUE UNRESOLVED*/

/*CONTACT*/

.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-text {
  font-size: 24px;
}

.contact-text p {}
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

p.name {
  font-size: 30px;
  font-weight: 600;
}

.email /* a:link */{
  color: #AE7FD1; 
  font-weight: 600;
}

.email:hover {
  color: #D7B5F0;
}

.social img {
  width: 100px;
  height: 100px;
  margin-left: 4px;
  margin-right: 4px;
}

/*FOOTER*/

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3.5rem;
  text-align: center;
  color: #767676;
  z-index: 10;
  background-color: white;
}

footer a {
  padding-top: 2rem;
}
footer p {
  margin-top: .75rem;
  margin-bottom: 0;
}
